/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local ("Roboto");
    src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local ("Roboto");
    src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local ("Roboto");
    src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
}
:root {
    --basic-grey: #849D8F;
    --basic-white: #FFFFFF;
    --basic-black: #323232;
    --modal-white: #F8F7F4;
    --form-white: #FEFEFE;
    --special-grey: #5A5A5A;

    --special-red-hover: #FBDED7;
    --special-red-active: #F6B5A5;
    --special-whitelink: #FFBC9E;
    --special-blacklink: #E84D37;

    --special-red-dark: #D07058;

}
.page-body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--basic-grey);
    color: var(--basic-black);
}
.main-header {}
.main-header-logo {}

.main-nav {
    font-weight: 700;
    line-height: 18px;
    color: var(--basic-white);
}
.site-nav-list {
    list-style: none;
}
.site-nav-item a {
    color: var(--basic-white);
}
.site-nav-item a:hover {
    color: var(--basic-black);
}
.user-control-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.user-control-items a {
    text-decoration: none;
    color: var(--basic-white);
}
.user-control-items a:hover {
    color: var(--basic-black);
}
.search-link {}
.login-link {}
.basket-link {}
.contacts-short {}

.contacts-short-time {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
}
.contacts-short-tel {
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: var(--basic-white);
}
.wrapper {}
.choice-slider {}
.choice-slider-list {}
.choice-slider-item {}

.choice-slider-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-white);
}
.main-button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.main-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
}
.main-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
}
.choice-slider-button {
    font-size: 32px;
    line-height: 44px;  
}
.offers {
    font-weight: bold;
    color: var(--basic-white);
}
.offers-list {
    list-style: none;
}
.offers-item {}

.offer-item-header {
    font-size: 35px;
    line-height: 41px;
}
.offer-item-text {
    font-size: 18px;
    line-height: 22px;
}
.bestsellers {}

.bestsellers-list {
    list-style: none;
}
.bestsellers-item-link {
    color: var(--basic-white);
    font-weight: 500;
}
.bestsellers-item-link:hover, .bestsellers-item-link:active {
    color: var(--special-whitelink);
}
.bestsellers-item-img {}

.bestsellers-item-price {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}
.item-weight {
    font-size: 30px;
    line-height: 35px;
}
.bestsellers-item-price:hover, .bestsellers-item-price:active {
    color: var(--special-whitelink);
}
.shop-desc {}

.shop-desc-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.shop-desc-list {
    list-style: none;
}
.shop-desc-item {
    line-height: 22px;
}
.blog {}

.blog-header {
    font-weight: 500;
    line-height: 22px;
}
.blog-news {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.blog-news:hover, .blog-news:active {
    color: var(--special-blacklink);
}
.mailing {}

.mailing-text {
    line-height: 22px;
    color: var(--special-grey);
}
.main-footer {}
.main-contacts {}

.main-contacts-text {
    font-size: 14px;
    line-height: 20px;
}
.main-contacts-marked {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.main-contacts-tel {
    text-decoration: none;
    color: var(--basic-black);
}
.main-contacts-tel:hover, .main-contacts-tel:active {
    color: var(--special-blacklink);
}
.socials {}

.socials-list {
    list-style: none;
}
.socials-item {}
.socials-button {
    color: var(--basic-white);
}
.docs {}

.docs-list {
    list-style: none;
}
.docs-item {
    font-size: 13px;
    line-height: 18px;  
}
.docs-item a {
    color: var(--basic-white);
}
.docs-item a:hover, .docs-item a:active {
    color: var(--special-whitelink);
}
.copy {}
.copy-logo {}

.copy-text {
    color: var(--basic-white);
    font-size: 12px;
    line-height: 18px;
}
.copy-text a {
    color: var(--basic-white);
}
.copy-text a:hover, .copy-text a:active {
    color: var(--special-whitelink);
}
