    /* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local ("Roboto");
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local ("Roboto");
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local ("Roboto");
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

    /* Global */

:root {
    --wrapper-grey: #849D8F;
    --wrapper-blue: #8996A6;
    --wrapper-pink: #9D8B84;

    --basic-white: #FFFFFF;
    --basic-black: #323232;
    --modal-white: #F8F7F4;
    --modal-text-grey: #999999;
    --form-white: #FEFEFE;
    --form-border-white: #D3D3D2;
    --special-grey: #5A5A5A;

    --special-red-hover: #FBDED7;
    --special-red-active: #F6B5A5;
    --special-whitelink: #FFBC9E;
    --special-blacklink: #E84D37;
    --special-whiteactive: #EDEDED;

    --special-shadow-red: #AC1000;
    --modal-shadow-red: rgba(172, 16, 0, 0.64);

    --button-active-red: #942718; 

    --special-red-dark: #D07058;
    --special-light-grey: rgba(255, 255, 255, 0.2);
    --special-middle-grey: rgba(255, 188, 158, 0.3);
    --special-filter-white: rgba(248, 247, 244, 0.5);
    --special-input-grey: rgba(178, 178, 178, 0.52);
    --special-shadow-grey: #696969;

    --special-border-black: rgba(50, 50, 50, 0.2);
    --special-light-black: rgba(50, 50, 50, 0.3);
    --modal-shadow-black: rgba(0, 0, 0, 0.4);
}

.page {
    height: 100%;
}

.page-body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 40px;
    align-content: start;
}

.site-wrapper-1 {
    background: var(--wrapper-grey);
    background-image: url("../img/slider/site-wrapper-1.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper-2 {
    background: var(--wrapper-blue);
    background-image: url("../img/slider/site-wrapper-2.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper-3 {
    background: var(--wrapper-pink);
    background-image: url("../img/slider/site-wrapper-3.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.wrapper {
    width: 1146px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    text-decoration: none;
    border: none;
    outline: none;
}

    /* Buttons */

.main-button {
    display: inline-block;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
    border-radius: 70px;
    padding: 9px 22px;
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}

.main-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px var(--special-shadow-red);
}

.main-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px var(--button-active-red);
}

    /* Main Header */

.main-header {
    min-height: 114px;
    margin-top: 9px;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.main-header-logo {
    margin-right: 15px;
    width: 154px;
    height: 64px;
}

.main-nav {
    font-weight: 700;
    line-height: 18px;
    color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr max-content;
}

    /* Site Navigation */

.site-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.site-nav-item {
    margin-right: 14px;
    position: relative;
}

.site-nav-item:last-child {
    margin-right: 0;
}
    
.site-nav-link {
    display: inline-block;
    padding: 9px 13px 11px;
    color: var(--basic-white);
    text-decoration: none;
  /*  border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.site-nav-link::before {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: 1px solid var(--special-light-grey);
    width: 80%;
    bottom: 10px;
    right: 13px;
}

.site-nav-link:hover {
    color: var(--basic-black);
    border-bottom: none;
    background: var(--basic-white);
    border-radius: 26px;
}

.site-nav-link:active {
    color: var(--basic-black);
    border-bottom: none;
    background: var(--special-whiteactive);
    box-shadow: inset 0px 2px 1px var(--special-shadow-grey);
    border-radius: 26px;
}

    /* Submenu */

.submenu { 
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px var(--modal-shadow-black);
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 6px;
}

.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 143px;
}

.submenu h3 {
    margin: 0;
    padding: 0;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--special-border-black);
    margin-bottom: 10px;
    text-align: center;
    margin-left: 6px;
    margin-right: 9px;
}

.submenu-item a {
    display: block;
    padding: 6px 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 16px;
}

.submenu-item a:hover {
    background-color: var(--special-red-hover);
}

.submenu-item a:active {
    background-color: var(--special-red-active);
}

.site-nav-item:hover .submenu {
    display: block; 
    position: absolute;
    top: 40px;
    left: -5px;
}

    /* User Control */

.user-control-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-control-item {
    margin-right: 10px;
}

.user-control-item:last-child {
    margin-right: 0;
}

.user-link {
    display: inline-block;
    background: var(--special-light-grey);
    border-radius: 20px;
    color: var(--basic-white);
    text-decoration: none;
}

.user-link:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}

.search-link {
    position: relative;
    padding: 16px;
}

.search-link::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 8px;
    top: 8px;
    background-image: url("../img/icons/icon-search.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-link:hover::before {
    background-image: url("../img/icons/icon-search-hover.png");
}

.login-link {
    position: relative;
    padding: 8px 16px 8px 44px;
}

.login-link::before {
    content: "";
    width: 20px;
    height: 19px;
    left: 16px;
    top: 6px;
    background-image: url("../img/icons/icon-enter.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
}

.login-link:hover::before {
    background-image: url("../img/icons/icon-enter-hover.png");
}

.basket-link {
    position: relative;
    padding: 8px 16px 8px 45px;
}

.basket-link::before {
    content: "";
    width: 21px;
    height: 20px;
    left: 16px;
    top: 6px;
    background-image: url("../img/icons/icon-basket.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
}

.basket-link:hover::before {
    background-image: url("../img/icons/icon-basket-hover.png");
}

.contacts-short {
    grid-column: 2 / -1;
    justify-self: end;
}

.contacts-short-time {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
}

.contacts-short-tel {
    margin: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: var(--basic-white);
}

    /* Main */

    /* Slider */

.choice-slider {
    color: var(--basic-white);
    text-align: center;
    padding-top: 235px;
    position: relative;
    margin-bottom: 40px;
}

.choice-slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}
  
.slide-current {
    display: block;
}

.choice-slider-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-white);
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
}

.choice-slider-button {
    font-size: 32px;
    padding: 16px 32px;
    line-height: 44px; 
    box-shadow: 0px 2px 2px var(--modal-shadow-red);
    border-radius: 70px; 
    font-weight: 700;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.05em;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    display: flex;
    width: 67px;
    justify-content: space-between;
}
  
  .slider-controls button {
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}
  
  .slider-controls .current {
    background-color: var(--basic-white);
}

    /* Offers */

.offers {
    font-weight: 700;
    color: var(--basic-white);
    margin-bottom: 40px;
}

.offers-list {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 26px;
}

.offers-item {
    padding: 16px;
    border-radius: 16px;
    position: relative;
    position: relative;
    min-height: 197px;
}

.offers-item:nth-child(1) {
    background: url("../img/background/raspberry-back.jpg");
}

.offers-item:nth-child(2) {
    background: url("../img/background/choco-back.jpg");
}

.offer-item-header {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.offer-item-text {
    font-size: 18px;
    line-height: 22px;
}

.offer-button {
    position: absolute;
    right: 22px;
    bottom: 22px;
}

    /* Catalog Items */

.catalog {
   /* margin-bottom: 40px;*/
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 26px;
}

.catalog-item {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    
}

.catalog-item::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -13px;
    background-color: var(--special-light-grey);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 293px;
    height: 402px;
    
    display: none;
}

.catalog-item:hover::before {
    display: block;
    z-index: 1;
}

.catalog-button {
    padding: 12px 16px;
    position: absolute;
    top: 331px;
    left: 33px;
    display: none;
}

.catalog-item:hover .catalog-button {
    display: block;
    z-index: 1;
}

/*
.catalog-item:hover {
    background-color: var(--special-light-grey);
    
}
*/

.catalog-item a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid var(--special-light-grey);
}

.catalog-item-img {
    width: 267px;
    height: 267px;
    margin-bottom: 13px;
    z-index: -1;
}

.catalog-item-img img {
    border-radius: 50%;
}

.catalog-item-price {
    margin: 0;
    color: var(--basic-white);
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    left: 13px;
    top: 216px;
}

.item-weight {
    font-size: 30px;
    line-height: 35px;
}

.hidden-button {
    opacity: 0;
    position: absolute;
    bottom: 21px;
    left: 46px;
    padding: 12px 16px;
}

.hidden-button:hover {
    opacity: 1;
    background: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
    box-shadow: 0px 1px 2px var(--special-shadow-red);
    border-radius: 50px;
}


    /* About Shop */

.shop-desc {
    background: url("../img/background/pattern-back.png");
    border-radius: 16px;
    margin-bottom: 40px;
}

.shop-desc-header {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 20px;
    margin-bottom: 21px;
}

.shop-desc-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.shop-desc-item {
    width: 485px;
    padding-left: 75px;
    margin-bottom: 33px;
    position: relative;
}

.shop-desc-item:nth-child(1)::before {
    content: "";
    background-image: url("../img/icons/icon-icecream.png");
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    top: -14px;
    margin-left: 20px;
}

.shop-desc-item:nth-child(2)::before {
    content: "";
    background-image: url("../img/icons/icon-leaf.png");
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    top: -14px;
    margin-left: 20px;
}

.shop-desc-item:nth-child(3)::before {
    content: "";
    background-image: url("../img/icons/icon-cow.png");
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    top: -14px;
    margin-left: 20px;
}

.shop-desc-item:nth-child(4)::before {
    content: "";
    background-image: url("../img/icons/icon-therm.png");
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    top: -14px;
    margin-left: 20px;
}


    /* Articles */

.aside-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 26px;
}

.blog {
    box-sizing: border-box;
    background: url("../img/background/strawberry-back.png") no-repeat;
    border-radius: 16px;
    padding-top: 23px;
    padding-left: 20px;
}

.blog h3, .blog a {
    padding: 0;
    margin: 0;
}

.blog-header {
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
}

.blog-news {
    display: inline-block;
    max-width: 287px;
    color: var(--basic-black);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.blog-news:hover, .blog-news:active {
    color: var(--special-blacklink);
}

.mailing {
    box-sizing: border-box;
    padding-top: 33px;
    padding-left: 26px;
    padding-bottom: 39px;
    background-image: 
    url("../img/background/mailing-top.png"),
    url("../img/background/post-back.png");
    background-repeat: no-repeat;
    background-position: center, 0 0;
    border-radius: 16px;
}

.mailing-text {
    margin: 0;
    padding: 0;
    max-width: 512px;
    font-size: 16px;
    line-height: 22px;
    color: var(--special-grey);
    margin-bottom: 30px;
}

.mailing-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mailing-button {
    padding: 14px 19px;
    margin-left: 10px;
}

.mailing-form input {
    width: 368px;
    height: 44px;
    border: 1px solid var(--special-input-grey);
    border-radius: 6px;
}

    /*Main Footer*/

.main-footer {
    width: 100%;
}

.main-contacts {
    margin: 0 auto;
}

.map {
    max-height: 430px;
}

.contacts-block {
    position: relative;
}

.main-contacts-block {
    width: 253px;
    padding: 31px 25px;
    background: var(--basic-white);
    border-radius: 16px;
    position: absolute;
    top: -368px;
    right: 0;
}

.main-contacts-block h3, .main-contacts-block p {
    margin: 0;
}

.main-contacts-center {
    margin: 25px 0;
}

.main-contacts-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.main-contacts-marked {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.main-contacts-tel {
    text-decoration: none;
    color: var(--basic-black);
}

.main-contacts-tel:hover, .main-contacts-tel:active {
    color: var(--special-blacklink);
}

.contacts-button {
    padding: 13px 28px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 60px;
    padding-top: 18px;
    padding-bottom: 25px;
}

.socials {
}

.socials-list {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.socials-item {
    margin-right: 12px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-button:hover path, .socials-button:active path {
    fill-opacity: 1;
}

.socials-button:hover g, .socials-button:active g {
    opacity: 1;
}

.docs {
    justify-self: center;
}

.docs-list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 327px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.docs-list-column {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.docs-list-column:last-child {
    margin-right: 0;
}

.docs-item {
    font-size: 13px;
    line-height: 18px;
    padding-left: 22px;
}

.docs-item a {
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid var(--special-light-grey);
}

.docs-item a:hover, .docs-item a:active {
    color: var(--special-whitelink);
    border-bottom: 1px solid var(--special-middle-grey);
}

.copy {
    justify-self: end;
}

.copy-logo {
    width: 108px;
    height: 39px;
}

.copy-text {
    color: var(--basic-white);
    font-size: 12px;
    line-height: 18px;
}

.copy-text a {
    color: var(--basic-white);
}

.copy-text a:hover, .copy-text a:active {
    color: var(--special-whitelink);
}

    /* Modal Forms */

.modal {
    box-sizing: border-box;
    background: var(--modal-white);
    box-shadow: 0px 20px 20px var(--modal-shadow-black);
    border-radius: 4px;
}

    /* Login Form */

.login-form {
    width: 277px;
    padding: 20px 17px 22px 19px;
    position: absolute;
    top: 59px;
    right: 50px;
    display: none;
}

.login-form p {
    margin: 0;
    margin-bottom: 20px;
}

.login-form input {
    box-sizing: border-box;
    width: 241px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid var(--form-border-white);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: var(--modal-text-grey);
}

.login-form .login-admin {
    display: flex;
    justify-content: flex-start;
}

.login-help {
    margin-left: 20px;
}

.login-form .link-black {
    text-decoration: none;
    color: var(--basic-black);
    border-bottom: 1px solid var(--special-light-black);
    font-size: 13px;
    line-height: 15px;
}

    /* Search Form */

.search-form {
    width: 341px;
    padding: 20px 15px;
    position: absolute;
    top: 59px;
    right: 270px;
    display: none;
}

.search-form input {
    box-sizing: border-box;
    width: 311px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid var(--form-border-white);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: var(--modal-text-grey);
}

    /* Question Form */

    

    /* Catalog Page*/

.inner-page {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--wrapper-grey);
    color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 40px;
    align-content: start;
}

    /* Catalog Header */

.current-item {
    display: inline-block;
    padding: 9px 14px 11px;
    border-radius: 26px;
    background-color: var(--special-red-dark);
    text-align: center;
    vertical-align: middle;
}

    /* Catalog Main */

    /* Filters */

.filters {
    margin-bottom: 40px;
}

.filters form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 15px;
    margin-bottom: 14px;
}

.filter-form {
    box-sizing: border-box;
    height: 36px;
    background: var(--special-light-grey);
    border-radius: 20px;
}

.filter-item legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-left: 16px;
}

    /* Fieldset 1 */  

.screening-filter {
    min-width: 196px;
}

    /* Fieldset 2 */

.range-filter {
    width: 218px;
    padding-top: 18px;
    padding-left: 21px;
    padding-right: 21px;
    position: relative;
}

.range-filter .scale {
    height: 2px;
    background-color: var(--special-filter-white);
}

.range-filter .bar {
    width: 94px;
    height: 2px;
    background-color: var(--modal-white);
}

.range-filter .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: var(--wrapper-grey);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 0;
}

.range-filter .toggle-min {
    left: 14px;
}

.range-filter .toggle-max {
    left: 103px;
}

    /* Fieldset 3 */

.fatness {
    min-width: 425px;
}

    /* Fieldset 4 */

.checkbox-items {
    min-width: 711px;
}

.filter-button {
    text-decoration: none;
    border: none;
    outline: none;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
}

    /* Breadcrumbs */

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 13px;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 22px;
    position: relative;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-image: url("../img/arrow.png");
    right: -14px;
    top: 6px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid var(--special-light-grey);
}

.breadcrumbs a:hover, .breadcrumbs a:active {
    color: var(--special-whitelink);
    border-bottom: 1px solid var(--special-middle-grey);
}

.inner-page h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px; 
    margin-bottom: 29px;
}

    /* Catalog List */

.inner-page .catalog-list {
    margin-bottom: 80px;
}

    /* Pagination */

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pagination-item {
    margin-right: 4px;
}

.pagination-item-current {
    display: block;
    padding: 7px 8px;
    color: var(--basic-black);
    background: var(--basic-white);
}

.pagination-item a {
    display: block;
    padding: 7px 8px;
    color: var(--basic-white);
    text-decoration: none;
}

.pagination-item a:hover {
    background: var(--special-light-grey);
}



